[project]
name = "confluence-markdown"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "requests>=2.31.0",
    "markdownify>=0.11.6",
    "beautifulsoup4>=4.12.0",
]
